<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Chat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>

<body>

    <form action="/" method='post'>
        <input type="hidden" id="username" name="username" />
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea>
        <button type="submit" id="showChat">Send</button>
    </form>

    <div id="fileContent"></div>


    <script>
        document.getElementById( 'username' ).value = localStorage.getItem( 'username' );

      


       /*  document.getElementById( 'showChat' ).addEventListener( 'click', function ()
        {
            fetch( '../chat.txt' ) 
                .then( response => response.text() )
                .then( text =>
                {
                    document.getElementById( 'fileContent' ).textContent = text;
                } )
                .catch( error =>
                {
                    console.error( 'Error fetching file:', error );
                } );
        } );
 */

    </script>
</body>

</html>